body{
    background-image: url("../images/back2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200vh;
}
#pto1,#pto2{
    background-color: rgba(140, 197, 197, 0.8);
}
img{
border: 1px solid #87a0a0;
    border-radius: 50%;
    box-shadow: 10px 10px 20px #87a0a0;
}
h1{
    text-align: center;
    font-size: 50px;
}
nav {
    font-size: 20px;
}
h2{
    font-size: 30px;
    font-weight: normal;
}
#planning {
    font-style: italic;
}
footer {
    box-shadow: 10px 10px 20px #157a7a;
}
.mon, .tue {
    border: 5px solid #9bcaca;
    display: inline-block;
    width: 300px
}
